**/.DS_Store
**/.DS_Store?
**/._*
**/.ipynb_checkpoints
**/__pycache__/**
*.pyc

*.so
*.c
*.env

*.egg-info
__pycache__
.mypy_cache/

*.slurm

local/
build/
configset/
conf/
dist/

.idea/
venv/
.venv/
data/
!src/climate_health_map/data/
uv

*.db
Notebooks
.jupyter*